@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'utilities.css';
:root {
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #fff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}
html{
    font-size: 62.5%;
}
header {
    background: var(--dark);
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 80%, 0 100%);
}
.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav {
    padding: 2rem 0;

}
header nav .branding {
    margin-right: 3rem;
}
.container .left a {
    font-size: 1.3rem;
    color: var(--pure);
    text-decoration: none;
    margin-right: 3rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
.container .left a:hover {
    color: var(--primary)
}
/* NAVBAR DONE */
.hero .hleft img {
    width: 400px;
    margin-left: 2rem;
}
.hero .hright {
    color: var(--pure);
    margin-top: -29rem;
    padding: 11rem;
    font-size: 1.3rem;
}
.hero .hright h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .hright h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .hright h1 span {
    color: var(--primary);
}
.hero .hright p{
    line-height: 1.9rem;
    margin-bottom: 2rem;
}
/* header done */

section {
    padding: 6rem 0;
}
section .about_img {
    height: 300px;
    margin-left: 90%;
}
.about .go_left{
    margin-left: 30%;
}
.about h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 400;
}
.about h1 span {
    color: var(--primary);
}
.about h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.8;
    font-size: 1.3rem;
}
.about .social {
    display: flex;
    padding: 2rem;
    margin-left: -2rem;
}
.about .social a {
    display: flex;
    width: 3rem;
    height: 3rem;
    margin-right:1rem;
    border-radius: 50%;
    background: var(--dark);
    transition: all 0.5s ease0;
}
.about .social a:hover {
    background: var(--primary);
}
.about .social a img{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}
/* About Me done*/

section.services{
    background: var(--light);
}
.section_heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section_heading span{
    color: var(--primary);
}
.section_heading + p{
    color: var(--ternary);
    font-family:'Lato', sans-serif;
    margin-bottom: 2rem;
    text-align: center;
}
section.services .container .card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: 10rem;
}
section.services .container .card_wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    margin-bottom: 7rem;
    transition: all 0.5s ease;
}
section.services .container .card_wrapper .card:hover {
    background: var(--dark);
}
.card_wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .container .card_wrapper .card:hover h2, p {
    color: var(--pure);
}
.card_wrapper .card p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .container .card_wrapper .card img{
    background: var(--primary);
    width: 8rem;
    padding: 1rem;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translate( -50%, -50%);
}

/* service done */

section.freelancer {
    color: var(--pure);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('images-for-portfolio/images/camera.png');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 80%, 0 100%);
    padding-bottom: 15rem;
}
.freelancer h1 {
    font-size: 2rem;
}
.freelancer p {
    padding: 2rem;
    font-family: 'Lato', sans-serif;
}

/* freelancer done */

.slider .slide {
    text-align: center;
    padding: 0 2.5%;
}
.slider .slide img {
    width: 6rem;
    height:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
}
.slider .slide p{
    color: var(--ternary);
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
}
.slider .slide span{
    font-size: 0.8rem;
}
.reviews .slider_dots{
    margin-top: 1rem;
}
.reviews .slider_dots button{
    font-size: 0;
    margin-right: 0.4rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.2rem 0.3rem;
}
.reviews .slider_dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
.reviews .dots li.slick-active button{
    background: var(--primary);
    padding: 0.2rem 0.8rem;
}

/* reviews done */

section .container{
    text-align: center;
}
section .container p{
    color: var(--ternary);
    margin: 1rem 0 2rem 0;
}
section .work{
    background: var(--light);
}
.work .card_wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin: 10rem;
    margin-top: 4rem;
}
.work .card_wrapper .card {
    position: relative;
    height:20rem;
    width: 30rem;
    
}
.work .card_wrapper .card .overlay{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(61, 207, 211, 0.8);
    color: var(--pure);
    opacity: 0;
    transition: all 0.3s linear;
}
.work .card_wrapper .card:hover .overlay{
    opacity: 1;
}
.work .card_wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
    
}
.work .card_wrapper .card img{
    width: 100%;
    height: 100%;
}