.flex {
    display: flex;
}
.vert_center {
    align-items: center;
}
.justify_between {
    justify-content: space-between;
}
.btn button{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn_primary button{
    background: var(--primary);
    color: var(--secondary);
}
.btn_primary button:hover {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);

}
